- content_for(:title) { title(composer, opera, aria) }

.row.breadcrumb_row
  .columns
    = breadcrumb(composer, opera, aria)
    
%article
    
  %section.row
    .columns
      %h1
        = aria.name 
      %h2.subheader
        From
        = link_to_opera(opera)
        by 
        = link_to_composer(composer)
      %hr

  %section.row
    .large-8.push-3.columns

      :markdown
        #{ aria.synopsis }

      - [*aria.videos].each do |video|  
        = partial 'partials/video', :locals => { :video => video }
          
    .large-3.pull-9.columns.illustration.show-for-medium-up= image_tag aria.image_src
  

  - if aria.libretto? and aria.libretto_english?
    %aside#libretto
      .row 
        .columns{ :class => ('large-8 large-offset-2' unless aria.libretto_english?) }
          %h3 Libretto
          .row
            - libretti_of_aria(aria).each do |libretto|
              = partial 'partials/libretto', :locals => libretto
