- content_for(:title) { title(composer, opera, aria) }

.row.breadcrumb_row
  .columns
    = breadcrumb(composer, opera, aria)
    
%article
    
  %section.row
    .columns
      %h1
        = aria.name 
      %h2.subheader
        From
        = link_to_opera(opera)
        by 
        = link_to_composer(composer)
      %hr

  %section.row
    .large-8.large-push-3.medium-8.medium-push-4.columns

      :markdown
        #{ aria.synopsis }
        
    .large-3.large-pull-9.medium-4.medium-pull-8.columns.illustration= image_tag aria.image_src
    
  %section.row
    .column
      - [*aria.videos].each do |video|  
        = partial 'partials/video', :locals => { :video => video }
  

  - if aria.libretto? and aria.libretto_english?
    %aside#libretto
      .row 
        .columns
          %h3 Libretto
          .row
            - libretti_of_aria(aria).each do |libretto|
              = partial 'partials/libretto', :locals => libretto
