- content_for(:title) { title(composer) }

%article

  %section.row
    .columns
      %h1= composer.name 
      %hr
    
  %section.row      
    .large-8.large-push-3.medium-8.medium-push-4.columns
      :markdown
        #{ composer.bio }
  
    .large-3.large-pull-9.medium-4.medium-pull-8.columns.illustration= image_tag composer.image_src
  
- if operas = operas(composer) and operas.any?
  
  %aside.callouts
    .row
      .columns
        %h3 #{ composer.surname }'s operas
    = render_callouts composer, operas
      

                
